services:
  valkey:
    image: valkey:8.1-alpine
    ports:
      - "6379:6379"
    volumes:
      - ./.valkey-data:/data
      - ./.valkey.conf:/usr/local/etc/valkey/valkey.conf
    command: valkey-server /usr/local/etc/valkey/valkey.conf --requirepass SOME_PASS

  redisinsight:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    volumes:
      - ./.redisinsight:/data
    depends_on:
      - valkey

  aetherlay-hc:
    build:
      context: ..
      dockerfile: services/health-checker/Dockerfile
    container_name: aetherlay-hc
    volumes:
      - ../configs:/configs:ro
    environment:
      - LOG_LEVEL=debug
      - VALKEY_HOST=valkey
      - VALKEY_PASS=SOME_PASS
    depends_on:
      - valkey

  aetherlay-lb:
    build:
      context: ..
      dockerfile: services/load-balancer/Dockerfile
    container_name: aetherlay-lb
    ports:
      - "8080:8080"
    volumes:
      - ../configs:/configs:ro
    environment:
      - LOG_LEVEL=debug
      - VALKEY_HOST=valkey
      - VALKEY_PASS=SOME_PASS
    depends_on:
      - aetherlay-hc
