services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ..:/workspace:cached
      - /var/run/docker.sock:/var/run/docker.sock
    command: sleep infinity
    environment:
      - VALKEY_URL=valkey://:SOME_PASS@valkey:6379
    depends_on:
      - valkey

  valkey:
    image: valkey/valkey:8.1-alpine
    ports:
      - "6379:6379"
      # If you want to enable TLS, uncomment the following line
      #- "6380:6380"
    volumes:
      - ./.valkey-data:/data
      - ./.valkey.conf:/usr/local/etc/valkey/valkey.conf
      # If you want to enable TLS, uncomment the following line
      #- ./.tls:/etc/valkey/tls
    command: valkey-server /usr/local/etc/valkey/valkey.conf

  redisinsight:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    volumes:
      - ./.redisinsight:/data
    depends_on:
      - valkey
